:root {
    --primary : #c93b3b;
    --bg: #010101;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    /* min-height: 2000px; */
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: antiquewhite;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #8c7851;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #8c7851;
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.4rem;
}

.navbar .navbar-nav i {
    margin: 10px;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: auto;
    border-bottom: .1rem solid var(--primary);
    transform: scaleX(0);
    transition: .3s ease-in-out;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-ekstra {
    display: flex;
    justify-content: end;
}

.navbar .navbar-ekstra a {
    color: #8c7851;
    margin: 0 .5rem;
}

.navbar .navbar-ekstra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* hero section */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/rendy-novantino-rdRTKSwUXb4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 10%, rgba(255, 255, 255, 0) 55%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    text-shadow: 1px 1px 5px rgba(1, 1, 3, .5);
    line-height: 1.1;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 5px rgba(1, 1, 3, .5);
    mix-blend-mode: difference;
    /* blending option ketika supaya warna huruf dengan background kontras  */
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 5px;
    border-style: double;
    box-shadow: 0 10px 10px 0 rgba(1, 1, 3, .5);
}

.about {
    padding: 7.8rem 7% 1.4rem;
}

.about h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.about h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex:  1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content h3 span {
    color: var(--primary);
}

.about .row .content p {
    margin-bottom: .8rem;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.6rem;
}


/* responsive */
@media (max-width: 1366px) {
    html {
        font-size: 75% ;
    }
}

/* laptop */
@media (max-width:834px) {
    html {
        font-size: 63%;
    }

    #hambuger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: #8c7851;
        transition: .8s ease;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(.4);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 23rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }
}

/* mobile */

@media (max-width:450px) {
    html {
        font-size: 55%;
    }
}
